#logocentral 
{
	margin: 0 auto !important;
	float: none!important;
}

#section1{
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat; 
    display: block;
    height: 100vh;
    width: 100%;
}

#section2{
    background-image: url("../img/FilhosPUC-Background-Roxo.png");
    height: 100vh;
    width: 100%;
}

#section3{
    height: 100vh;
    width: 100%;
    background-image: url("../img/FilhosPUC-Background-HD-Amarelo.png");
}

#txtbloco
{
	font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.2em;
}

#section41{
    background-image: url("../img/FilhosPUC-Background-Roxo.png");
}

#titulo{
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 2.6em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #736f7e !important;
    background-color: #2222223d !important;
}


#menu{
    float: left;
}

.fa-instagram{
    color: white;
    font-size: 30px;
    transition: transform .2s;
}

.fa-facebook{
    color: white;
    font-size: 30px;
    transition: transform .2s;
}

@media screen and (min-width: 880px) 
{
    #txtbloco
    {
        font-family: 'Alegreya Sans SC', sans-serif;
        color: white;
        text-align: left;
        width: 70%;
        font-size: 1.5em;
        margin-left: 15%;
    }

    #menu{
    float: right;
    }

    .navbar-inverse {
        background-color: #2222223d !important;
    }
}

@media screen and (max-width: 320px) 
{
    #txtbloco
    {
        font-size: 1.1em;
    }
}